body, html {

    margin: 0;
    padding: 0;
    background-color: black;
}
::-webkit-scrollbar {
    width: 6px; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #ffffff; 
    border-radius: 2px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #A0A0A0; 
}
*{
    font-family: 'Bebas Neue', sans-serif;
    line-height: 100%; 
    color: white;
}
a{
    text-decoration-line: none;
    color: #ffffff;
}
a:hover{
    color: #A0A0A0;
}
#nav{
    transition: 0.5s;
}

header{
    position: fixed;
    z-index: 3;
    width: 100%;
}


.blue{
    color: #58529F!important;
}
.orange{
    color: #F9B333!important;
}
.black{
    color: #000;
}

li{
    margin: auto;
    padding: 0.4rem;
    list-style: none;
}
.li{
    list-style: outside;
}



a:hover{
    color: rgb(107, 105, 105)!important;
    transform: scale(1.025);
    transition: 0.2s;
}
section{
    position: relative;
}
.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}
section.grid{
    display: grid;
    padding: 5% 0;
}

.xl{
    font-size: 5rem;
}
.lg{
    font-size: 4rem;
}
.md{
    font-size: 3rem;
}
.sm{
    font-size: 2rem;
}

.al-center{
    align-items: center;
}

.rounded{
    max-width: 80%;
}
#link_main{
    padding-top:13px ;
}

#home{
    background-image: url("Background/cafc-1.png");
    background-size: cover;
    background-position: 50% 100% ;
    height: 100vh;    
}
#home img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
}

#about {
    position: relative;

}

.main_back{
    background-attachment: fixed;
    position: absolute;

    background: rgb(88, 82, 159);
    background: radial-gradient(circle, rgba(88, 82, 159, 1) 15%, rgba(36, 16, 96, 1) 99%);
    filter: blur(2px);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}

.org{
    justify-content: center;
    
}
.org > img{
    margin: auto 30px ;
    margin-top: 2rem;
}

.row{
    --bs-gutter-x: auto;
}

#map{
    background-image: url("Background/cafc-5.png");
    background-size: cover;
    background-position: 50%  ;

    padding: 4rem;
}
.rounded-box{
    justify-content: space-around;
    filter: drop-shadow(0 -6mm 4mm rgb(0, 0, 0));
    
}
.rounded-4{
    border-radius: 15px;  
}
.rounded-box > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 1rem;
    height: 10rem;
    width: 15rem;
    border-radius: 15px;    
}
#map-container{
    border-radius: 15px;
    margin: 1rem;
    height: 500px;
}

.video-block{
    position: relative;
    
    
}
.video{
    background-color: aliceblue;
    width: 40vw;
    height: 25vw;   
}

.grad{
    
    background: rgb(88, 82, 159);
    background: radial-gradient(circle, rgba(88, 82, 159, 1) 15%, rgba(36, 16, 96, 1) 99%);
}

.logo{
    height: 150px;
}
.logo-m{
    height: 100px;
    margin-top: 25px;
}
.w-md-75{
    width: 75%;
}
.w-md-50{
    width: 50%;
}
#reg{
    background-image: url(Background/cafc-4.png)  ;
    height: 80vh;
    background-size: cover;
    background-position: 50% 100%;
}

@media (max-width: 768px){
    .h5{
        font-size: 1rem;
        padding: 10px;
    }
    .w-md-50{
        width: auto;
    }
    .logo-m{
        height: 70px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .logo{
        height: 100px;
    }
    .w-md-75{
        width: auto!important;
    }
    #map{
        padding: 1rem;
    }
    .rounded-box > div{
        width: 40%;
        margin: 0.5rem;

    }
    #home{
        padding: 10%;
    }
    .xl{
        font-size: 2.5rem;
    }
    .lg{
        font-size: 2rem;
    }
    .md{
        font-size: 1.5rem;
    }
    .sm{
        font-size: 1.6rem;
    }
    
    .org > img{
        margin: 20px auto ;
        
    }
    .video{
        width: 80vw;
        height: 60vw;
    }
    .video-block{
        position: relative;
        height: 70vw;
    }
   
}
@media (max-width: 320px){
  
    
}























/* 

.image{
    height: 85vh;
    width: 100%;
    object-fit: cover;
    object-position: 50%;
}
.program-details{
    width: 55%;
}
.text-dark{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
}
.round-r{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.round-l{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.program-image{
    position: relative;
}
.mini-logo-l{
    position: absolute;
    height: 25%;
    width: 40%;
    left: 0;
    bottom: 30px;
}
.program-image{
    width: 45%;
}
.text-dark *{
    color: #212529!important;
}
.mini-logo-r{
    position: absolute;
    height: 25%;
    width: 40%;
    right: 0;
    bottom: 30px;
} */